.nav{
    background-color: #1F2937;
}
.left {
    display: flex;
    justify-content: flex-start;
}
.right {
    display: flex;
    justify-content: flex-end;
}
.nav a{
    text-decoration: none;
}
.nav a:hover {
    background-color: #ddd;
    color: black;
  }